<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>servlets.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AreaCheckServlet</servlet-name>
        <servlet-class>servlets.AreaCheckServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AreaCheckServlet</servlet-name>
        <url-pattern>/areaCheck</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>views/index.jsp</welcome-file>
    </welcome-file-list>

<!--    <filter>-->
<!--        <filter-name>AccessFilter</filter-name>-->
<!--        <filter-class>filters.AccessFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>AccessFilter</filter-name>-->
<!--        <url-pattern>/areaCheck</url-pattern>-->
<!--    </filter-mapping>-->

</web-app>